- name: Add Grafana repository
  copy:
    dest: /etc/yum.repos.d/grafana.repo
    content: |
      [grafana]
      name=grafana
      baseurl=https://packages.grafana.com/oss/rpm
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://packages.grafana.com/gpg.key
      sslverify=1

- name: Install Grafana
  dnf:
    name: grafana
    state: present
    update_cache: yes

- name: Enable and start Grafana service
  systemd:
    name: grafana-server
    enabled: yes
    state: started
